@font-face {
   font-family: PostNoBillsJaffna;
   src: url(/fonts/PostNoBillsJaffna-SemiBold.ttf);
   font-weight: 700;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   outline: 1px solid red;
}

body {
   margin: 0;
   padding: 0;
   font-family: 'Playfair Display', serif;
   font-family: 'PT Sans', sans-serif;
   background: #000000;
   color: #FFFFFF;
}

.header a {
   color: #969696;
}

.header p {
   color: #969696;
}


.wrapper{
max-width: 1060px;
margin: 0 auto;
padding: 14px 0;
}

.wrapper__full{
   height: 100vh;
   background: url(../img/Rectangle3.jpg) no-repeat center;
   background-size: cover;
}
.white__box{
   
   background: url(../img/svg/kvadrat.svg) no-repeat center;
   background-size: cover;
}
.header__wrapper{
   display: flex;
   justify-content: space-between;
}

.header__wrapper-top-left{
   display: flex;
   
}

/* git  */
.header__logo-link img{
padding: 15px 0;
}

.header__list{
   display: flex;
}